body {
   background-color: #FFF7FA;
    color: #222222;
    font-family: Arial, sans-serif;
}
.navbar {
       background-color: #FFFFFF !important;
}

.navbar-brand{
     color: #7A3048;
    font-weight: bold;
    font-size: 22px;
}
.nav-link{
      color: #222222;
}

.btn-cliente:hover {
     background-color: #7A3048;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-cliente{
      background-color: #E39AB5;
    color: #222222;
}

.presentacion {
      background-color: #F4C2D7;
      padding: 60px 0;
}

.presentacion h1{
     color: #222222;
    font-size: 40px;
}

.presentacion p{
      font-size: 18px;
    color: #222222;
}
.imagen-libro{
      width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}
.imagen{
       width: 100%;
    border-radius: 8px;
}

.tarjeta{
      background-color: #FFF7FA;
    border: 2px solid #F4C2D7;
    margin-bottom: 20px;
}
.tarjeta h3 {
    color: #7A3048;
}

.tarjeta p{
     color: #222222;
}
.imagen-grande{
      padding: 20px 0;
    background-color: #E39AB5;
}
.informacion{
     padding: 60px 0;
}
